

<div class="jumbotron">
<h2>HTML5 forms</h2>

<p>Web forms has evolved over a time from supporting just POSTing to a server to latest features like ajax support,client side validations, supporting various types of input elements. In this article we take a look into features available to us in HTML5 forms.</p>
</div>

<h4>Mainly the features can be divided into two parts.</h4>
<ul>
	<li>
		<h4><a href="/#types">Additional input types and client side validations</a></h4>
		<ul>
			<li>Input types</li>
			<li>Input attributes like required, pattern, min, max </li>
		</ul>
	</li>
	<li>
		<h4><a href="/#actions">Submitting the forms actions</a></h4>
		<ul>
			<li>Associating scattered fields with the single form using form attribute</li>
			<li>Using FormData() instead of having a hidden form</li>
		</ul>
	</li>
</ul>

