<section>
	<h4> Resources to get started on HTML5 forms </h4>
	<ul>
		<li><a href="http://www.sitepoint.com/html5-form-validation/">HTML5 Form Validation</a></li>
		<li><a href="http://diveintohtml5.info/forms.html">A Form of madness</a></li>
		<li><a href="http://www.html5rocks.com/en/tutorials/forms/constraintvalidation/">HTML5 Form constraint API</a></li>
		<li><a href="http://www.wufoo.com/html5/">Current state of HTML5 Forms</a></li>
		<li><a href="http://www.sitepoint.com/easier-ajax-html5-formdata-interface/">FormData</a></li>
		<li><a href="http://www.sitepoint.com/html5-form-validation/">Form validations</a></li>
		<li><a href="http://www.impressivewebs.com/html5-form-attribute/">HTML5 Form attribute</a></li>
	</ul>
</section>

