<div class="lead"> HTML5 has added native support for many of the data types such as dates,time,email,colors. These types can be used without any external plugins.</div>

<!-- email -->
<div class="panel panel-default">
	<div class="panel-heading">email</div>
	<div class="panel-body">
	    <p>This can be used to enter email addresses and the browser will validate if the
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input type="email">
				</div>
	    	</form>
	    </div>
	</div>
</div>

<!-- date -->
<div class="panel panel-default">
	<div class="panel-heading">date</div>
	<div class="panel-body">
	    <p>Dates can be entered through 
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input type="date">
				</div>
	    	</form>
	    </div>
	</div>
</div>

<!-- range -->
<div class="panel panel-default">
	<div class="panel-heading">range</div>
	<div class="panel-body">
	    <p>This can be used to enter email addresses and the browser will validate if the
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input type="range" ng-model="range" value ="5" min="10" max="50">
					<span>Selected value is {{range}}</span>
				</div>
	    	</form>
	    </div>
	</div>
</div>

<!-- url -->
<div class="panel panel-default">
	<div class="panel-heading">url</div>
	<div class="panel-body">
	    <p>This can be used to enter email addresses and the browser will validate if the
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input type="url">
				</div>
	    	</form>
	    </div>
	</div>
</div>

<!-- tel -->
<div class="panel panel-default">
	<div class="panel-heading">telephone number</div>
	<div class="panel-body">
	    <p>This can be used to enter email addresses and the browser will validate if the
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input type="tel">
				</div>
	    	</form>
	    </div>
	</div>
</div>


<!-- number -->
<div class="panel panel-default">
	<div class="panel-heading">number</div>
	<div class="panel-body">
	    <p>This can be used to enter email addresses and the browser will validate if the
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input type="number">
				</div>
	    	</form>
	    </div>
	</div>
</div>

<!-- color -->
<div class="panel panel-default">
	<div class="panel-heading">color</div>
	<div class="panel-body">
	    <p>This can be used to enter email addresses and the browser will validate if the
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input ng-model="color" type="color">
					<span>Selected color is {{color}}</span>
				</div>
	    	</form>
	    </div>
	</div>
</div>

<!-- speech -->
<div class="panel panel-default">
	<div class="panel-heading">color</div>
	<div class="panel-body">
	    <p>This can be used to enter email addresses and the browser will validate if the
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input ng-model="speech" type="text" x-webkit-speech>
				</div>
	    	</form>
	    </div>
	</div>
</div>


<h3>Now different Form input attributes</h3>

<!-- required -->
<div class="panel panel-default">
	<div class="panel-heading">required</div>
	<div class="panel-body">
	    <p>This can be used to enter email addresses and the browser will validate if the
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input ng-model="text" required type="text">
				</div>
	    	</form>
	    </div>
	</div>
</div>

<!-- placeholder -->
<div class="panel panel-default">
	<div class="panel-heading">placeholder</div>
	<div class="panel-body">
	    <p>This can be used to enter email addresses and the browser will validate if the
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input ng-model="name" placeholder="your name" type="text">
				</div>
	    	</form>
	    </div>
	</div>
</div>

<!-- autofocus -->
<div class="panel panel-default">
	<div class="panel-heading">autofocus</div>
	<div class="panel-body">
	    <p>This can be used to enter email addresses and the browser will validate if the
	    enter value is a valid email or not. You can enter multiple comma separated
	    email addresses with "multiple" attribute.</p>
	    <div class="demo">
	    	<form name="email-form" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<input ng-model="text" autofocus type="text">
				</div>
	    	</form>
	    </div>
	</div>
</div>

<h4>Other attributes for the input elements</h4>

<ul>
    <li>min</li>
    <li>max</li>
    <li>step</li>
    <li>pattern</li>
</ul>


<h3>Custom validation</h3>


<!-- checkValidity -->
<div class="panel panel-default">
	<div class="panel-heading">checkValidity</div>
	<div class="panel-body">
	    You can either use checkValidity() method or subscribe to "invalid" event to know validity of the
	    element when the form is submitted.
	    <div class="demo">
	    	<form name="emailForm" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<span>Enter your email:</span>
					<input ng-model="email" autofocus type="text" name="email" value="test">
					<span ng-show="isEmailValid()">This is not a valid email address</span>
					<span ng-show="isEmailInValid()">This is a valid email address</span>
				</div>
	    	</form>
	    </div>
	</div>
</div>

<h4>setCustomValidity</h4>

<div class="panel panel-default">
	<div class="panel-heading">Setting the custom Validation messages</div>
	<div class="panel-body">
	    You can either use checkValidity() method or subscribe to "invalid" event to know validity of the
	    element when the form is submitted.
	    <div class="demo">
	    	<form name="emailForm" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<span>Enter your password:</span>
					<input ng-model="password" autofocus type="password" required><br>
					<span>Enter your password again:</span>
					<input ng-model="repeat_password" autofocus type="password">
				</div>
	    	</form>
	    </div>
	</div>
</div>

<h4>Validity API</h4>
<div class="panel panel-default">
	<div class="panel-heading">Validity API</div>
	<div class="panel-body">
	    This API provides all the details about the kind of validation error that happens
	    <ul>
			<li>validity</li>
			<li>overflow</li>
			<li>underflow</li>
			<li>patternMismatch</li>
			<li>typeMismatch</li>
		</ul>
	    <div class="demo">
	    	<form name="emailForm" ng-submit="emailForm()">
				<div class="input-group input-group-lg">
					<span>Enter a number between 5-10:</span>
					<input ng-model="password" autofocus type="number" required>
					<span password ng-password="password" ng-password-repeat="repeat_password"></span>
					<ul>
						<li ng-repeat="error in validationErrors">
							{{error}}
						</li>
					</ul>
				</div>
	    	</form>
	    </div>
	</div>
</div>



