<section>
	<h4> Resources to get started on HTML5 data attributes </h4>
	<ul>
		<li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/elements.html#embedding-custom-non-visible-data-with-the-data-attributes">W3C spec</a></li>
		<li><a href="http://ejohn.org/blog/html-5-data-attributes/">Jhon Resig's blog</a></li>
		<li><a href="http://html5doctor.com/html5-custom-data-attributes/">HTML5 doctor</a></li>
		<li><a href="http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/all-you-need-to-know-about-the-html5-data-attribute/">Web design Tuts+</a></li>
		<li><a href="http://api.jquery.com/data/">jQuery doc</a></li>
	</ul>
</section>